.btn-div{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-top:18px;
    font-family: "Poppins2";
    color:white;
}

.btn-div div{
    margin-top: 10px;
}
button{
    color: white;
    background-color: rgb(135, 59, 176);
    border-radius: 14px;
    width: 100px;
    font-size:16px;
}