.btn-div{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top:15px;
}
button{
    color: white;
    background-color: rgb(135, 59, 176);
    border-radius: 14px;
    width: 100px;
    font-size:16px;
}